*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Catamaran', sans-serif;
    
}

.main-header, footer{
    background-color: #FFCAAF;
}



.head, .navbar, .instruction, .main-header, .about-head, .about-para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head {
    padding: 20px;
    align-self: center;
}




.navbar a{
    margin: 20px;

}  



.instruction{
    margin-top: 10vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

#result{
    margin: 25px;
    display: flex;
    justify-content: center;
}

.butt{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#myBtn{
    background-color: #F67E7D; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-bottom: 40px;
    
    }
       
     #myBtn:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }
    
    .about-para, .about-need{
        flex-wrap: wrap;
        margin: 3vh 3vh 5vh 3vh;
        
    }
    


    
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .da-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px;
        padding: 20px;
       
    }

    .about-head{
        margin-top: 30px;
    }



/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 700px){
    .main-header{
        height: 200px;
        flex-direction: row;
    }

    .head, .navbar {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center
       
    }

}


@media (min-width: 1025px){

    

    .head, .navbar a{
       
        justify-content: flex-start;
    }

    .head{
        
        margin-right: auto;
    }

    .navbar {
        margin-top: 0;
        margin-left: auto;
        align-self: center;
    }

    .navbar a{
        margin-left: .65em;
        margin-right: .65em;
    }
}