*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    

}


.head {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.navbar a{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  



.instruction{
    padding: 20px;
    display: flex;
    justify-content: center;
}

#result{
    margin: 25px;
    display: flex;
    justify-content: center;
}

.butt{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------
  Media Queries
--------------------------- */